
.header {
  background-color: #ffffff;
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
}

.header-section {
  display: flex;
  align-items: center;
}

.header-left {
  justify-content: flex-start;
}

.header-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.header-right {
  justify-content: flex-end;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 52px;
  height: 52px;
}

.header h1 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
  color: #003366;
}

.bar-selector-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bar-selector-header label {
  font-weight: bold;
  font-size: 0.9rem;
  color: #003366;
}

.bar-selector-header select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  background-color: #ffffff;
  color: #003366;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.empleado-icon,
.header-link,
.logout-btn,
.about-link {
  color: #003366;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px;
  transition: color 0.3s ease;
}

.empleado-icon i,
.header-link i,
.logout-btn i {
  font-size: 1.3rem;
}

.empleado-icon:hover,
.header-link:hover,
.logout-btn:hover,
.about-link:hover {
  color: #2EAD63;
}

.about-link {
  background: none;
  border: none;
  color: #003366;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 1.5rem;
  transition: color 0.3s ease;
}

.about-link:hover {
  color: #2EAD63;
  text-decoration: underline;
}

.empleado-icon {
  font-size: 1.4rem;
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s ease, color 0.3s ease;
  color: #003366;
}

.empleado-icon:hover {
  transform: scale(1.2);
  color: #2EAD63;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 1.5rem;
  transition: transform 0.2s ease, color 0.3s ease;
}


.admin-carta-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #003366;
  color: white;
  margin: 0 12px;
  transition: background-color 0.2s, transform 0.2s;
}

.admin-carta-icon:hover {
  background-color: #004d99;
  transform: scale(1.1);
}


.admin-carta-icon i {
  font-size: 1.2rem;
  color: white;
  text-shadow: none;
  display: block;
}